@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.top-line
		background-color: rgba(#000,.7)
	.mian-menu
		display: none
		position: absolute
		top: 94px
		width: 300px
		left: -250px
		background-color: rgba(#000, .95)
		z-index: 100
		padding: 20px 0
		border-radius: 20px
		ul
			position: relative
			&:before
				content: ""
				position: absolute
				top: -58px
				right: 10px
				border: 20px solid transparent
				border-bottom: 20px solid rgba(0,0,0,.9)
	.main-menu__item
		display: block
		text-align: left
		padding: 0
		i 
			margin: 10px 10px 10px 20px
		a 
			padding: 15px 5px
			display: inline-block

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.sl
		&-head
			.slick-next
				right: -40px
			.slick-prev
				left: -40px
		&__title
			margin-top: 20px
			font-size: em(41)
		&__desc
			margin-bottom: 20px
	.main-manu--foot
		margin-bottom: 40px
		.main-menu__item
			a
				padding: 10px 5px
				display: inline-block
	.main-foot__head--center
		margin-bottom: 10px
		text-align: center
	.intst
		margin-bottom: 30px
	.main-foot
		&__head
			&-soc
				text-align: center
	ul
		text-align: center
		.main-foot__info
			text-align: left
		.main-foot__soc
			display: inline-block
			margin: 5px 10px
	.main-foot--bottom
		padding: 0 30px
	.sl-drink__img
		img
			width: 70%




/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.sl
		&-head
			padding-top: 10px
			text-align: center
			.buttons
				margin-bottom: 20px
			.sl__img
				img
					width: 70%
					display: inline-block
	.carousel
		&-head
			&__title
				margin-bottom: 10px
			&__desc
				margin-bottom: 30px
	.toggle-mnu
		height: 28px
		display: inline-block
	.menu-wrap
		margin-top: 20px
	.mian-menu
		left: -138px
		top: 77px
		ul
			&:before
				right: 121px
	.sl
		&-second
			.slick-next
				right: -10% 
				top: 30%
			.slick-prev
				left: -10%
				top: 30%


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.sl
		&-head
			text-align: left
	.logo
		img
			width: 40px
			height: 40px
		&__head
			font-size: em(20)
			padding-left: 0px
	.mobile
		&__title
			font-size: em(11)
		&__call
			font-size: em(16)
	.mian-menu
		left: -138px
		ul
			&:before
				right: 122px
	.contanct 
		margin: 45px 0


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.mian-menu
		display: block!important
			

